/*
!.gitignore
.DS_Store

# DO ignore IDE/dev settings
.vscode/
KittyCatastrophe.code-workspace

# Unreal Engine may try and create a .uasset file when something is added
#   to the ContentSource/ directory.  They can be ignored.
!ContentSource/
ContentSource/*.uasset

Binaries/
Build/
Deprecated/
DerivedDataCache/
Intermediate/
Saved/
OLD/

!Config/
!Config/Tags/
!Config/*.ini
!Config/Tags/*.ini
!Content/
# DO ignore Content/Developers/
Content/Developers/
!Source/

!KittyCatastrophe.png
!KittyCatastrophe.uproject
!README.md
